* {
  margin: 0;
  padding: 0;
}
#wholeBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background-color: #edede9;
  width: 100%;
  height: 700px;
}
#undsen {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  padding-bottom: 24px;
  width: 377px;
  border-radius: 18px;
  background-color: white;
  border: 0;
  /* box-shadow: 1px 1px 1px #777777; */
}
.inputArea {
  display: flex;
  gap: 6px;
  margin-top: 20px;
}

.inputText {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: 0.5px solid grey;
}
.addButton {
  height: 40px;
  width: 59px;
  border-radius: 6px;
  border: 0;
  background-color: #3c82f6;
  color: white;
}
h1 {
  font-weight: 600;
  font-size: 20px;
}
.upperArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.status {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 6px;
}
.button1 {
  width: 38px;
  height: 32px;
  background-color: #3c82f6;
  border: 0;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.button2 {
  width: 60px;
  height: 32px;
  border: 0;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
}
.button3 {
  width: 87px;
  height: 32px;
  border: 0;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
}
.statusText {
  font-size: 14px;
  font-weight: 400;
}
.copyRights {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 400;
}
.mainText {
  font-size: 20px;
  font-weight: 600;
}
.task {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  font-weight: 400;
  height: 62px;
  width: 345px;
  justify-content: space-between;
  background-color: #f9fafb;
  border-radius: 6px;
}
.task__delete {
  height: 30px;
  width: 67px;
  border: 0;
  background-color: #fef2f2;
  color: #ef4444;
  border-radius: 6px;
  margin-right: 16px;
}

#input::placeholder {
  text-align: center;
}
.buttons {
  display: flex;
  gap: 10px;
  margin-left: 16px;
}
#task__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 32px;
}
#taskList {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
.line {
  text-decoration: line-through;
}
